{{ define "main" }}
		<article aria-label="Main Article">
			<h1>{{ .Title }}</h1>
			<div datetime="{{ .Date.Format "02.01.2006 15:04"  }}">Posted on {{ .Date.Format "Jan 2, 2006" }} by {{ .Site.Params.author }}</div>

			<div>
				{{ .Content }}
			</div>
			{{ with .Params.tags }}
			<div style="clear: both;">
				<menu>
					<ul>
						{{ range . }}
						<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
						{{ end }}
					</ul>
				</menu>
			</div>
			{{ end }}
			{{ with .Site.DisqusShortname }}
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			{{ end }}
		</article>
{{ partial "sidebar.html" . }}
{{ end }}
